.header {
  padding: 10px 0;
  font-size: 16px;
  background-color: var(--color-blue);
  color: #fff;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__login {
    background-color: var(--color-green);
    @media (any-hover: hover) {
      &:hover {
        background-color: var(--color-green-hover);
      }
    }
  }
}

