.card {
  border-radius: var(--radius-5);
  flex: 0 1 100%;
  font-size: 16px;
  height: 270px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 10px 40px rgb(0, 0, 0, 0.3);

  @media(max-width: 460px) {
    height: 200px;
  }

  &__link {
    display: block;
  }

  &__img {
    flex: 0 0 170px;
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
    padding-top: 36.7%;

    @media(max-width: 460px) {
      flex-basis: 140px;
    }

    @media (any-hover: hover) {
      &:hover img {
        transform: scale(1.05);
      }
    }

    img {
      height: 100%;
      object-fit: cover;
      display: block;
      transition: transform var(--transition) ease;
      max-width: 100%;
      will-change: transform;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  &__info {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
  }

  &__actions {
    padding: 13px;
    display: flex;
    gap: 20px;
    align-items: center;

    @media(max-width: 460px) {
      gap: 15px;
    }
  }

  &__rating {
    display: block;
    margin-right: auto;

    @media(max-width: 460px) {
      font-size: 12px;
    }

  }

  &__favorites,
  &__later {
    width: 20px;
    height: 20px;
    transition: color var(--transition);

    svg {
      pointer-events: none;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--color-blue);
      }
    }
  }

  &__title {
    padding: 13px;
    flex-basis: 100%;
    font-size: 18px;
    border-bottom: 2px solid var(--color-grey);

    @media(max-width: 460px) {
      font-size: 14px;
    }

  }

  &__more {
    padding: 20px;
    width: 100%;
    display: block;
    transition: color var(--transition);


    @media(max-width: 460px) {
      padding: 10px;
    }


    @media (any-hover: hover) {
      &:hover {
        color: var(--color-blue);
      }
    }
  }
}

.cart {
  color: red;
}
